header {
    background-color: rgb(26, 148, 255);
    box-sizing: border-box;
}

.Middle__wrap {
    padding: 16px 0px 10px;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
    
}

.Middle__left {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
}

.logomenu {
    display: flex;
    align-items: flex-start;
    flex-basis: 190px;
    flex-shrink: 0;
    margin-right: 16px;
    cursor: pointer;
}

.logo-img {
    background-image: url(../img/logo.png);
    height: 40px;

}

.header-search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
} 

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% - 1px);
    left: 0px;
    width: 100%;
    list-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 3px 3px;
    border-top: 1px solid rgb(225, 225, 225);
    box-shadow: rgb(0 0 0 / 28%) 0px 6px 12px 0px;
    display: none;
    overflow: hidden;
    z-index: 100;
}

.header__search-history-heading {
    margin: 8px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 600;
    padding-bottom: 4px
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 30px;
    padding: 0 16px;
    display: flex;
}

.header__search-history-item:hover {
    background-color: rgba(27, 168, 255, 0.1);
    cursor: pointer;
}

.search-icon {
    color: #ccc;
}

/* .header__search-history-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-color) !important;
} */

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-color) !important;
}

.trending-product:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
    background-color: #fff;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    padding: 10px 16px;
}

.trending-product {
    font-size: 12px;
    line-height: 1.67;
    display: flex;
    background: rgb(250, 250, 250);
    color: rgb(36, 36, 36);
    text-decoration: none;
    padding: 24px 20px !important;
}

.thumb {
    width: 38px;
    height: 38px;
    margin-right: 8px;
    object-fit: contain;
}

.trending-title {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0px;
    display: -webkit-box;
    color: rgb(36, 36, 36);
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Category */
.category-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px 8px;
    padding: 10px 16px;
}

.thumb-wrap {
    padding: 0px 40px;
}

.category-item {
    font-size: 12px;
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.category-item:hover {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.category-item > .thumb-wrap .thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 36%;
    position: relative;
    overflow: hidden;
    background: rgb(250, 250, 250);
}

.category-item > .thumb-wrap .thumb > img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category-title {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0px 0px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.header__search-btn {
    background-color: rgb(13, 92, 182);
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 2px;
    outline: none;
    color: #fff;
    font-weight: 600;
    line-height: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-btn:hover {
    cursor: pointer;
}

.header__search-btn-icon {
    display: flex;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    justify-content: center;
    line-height: 1.15 !important;
    margin: 0px 8px 0px 0px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}


.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: normal;
}

.header-acount {
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    position: relative;
    width: 162px;
}

.profile-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

.profile-text {
    color: rgb(255, 255, 255);
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.sign-in {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 11px;
    line-height: 16px;
}

.acount-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    min-width: 120px;
}

.arrow-icon {
    width: 16px;
    height: 16px;
}

.header-cart {
    position: relative;
    display: flex;
}

.cartItemInner {
    align-items: flex-end;
    width: 94px;
    cursor: pointer;
    margin: 0px 0px 0px 16px;
    display: flex;
    color: #fff;
    font-size: 12px;
    position: relative;

}

.cart-wrapper {
    position: relative;
    margin-right: 8px;
    display: flex;
}

.cart-icon {
    width: 32px;
    height: 32px;
}

.cart-noti {
    color: rgb(36, 36, 36);
    background-color: rgb(253, 216, 53);
    height: 20px;
    left: 20px;
    top: -2px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    padding: 0px 7px;
}

.Bottom__Root {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.root-container {
    /* position:relative;  */
    display:flex; 
    justify-content:space-between;
}

.header__quicklink-container {
    margin-left: 80px;
    display: flex;
    align-items: flex-start;

}

.quicklink-container--item {
    margin-right: 12px;    
}

.seller {
    position: absolute;
    top: -6px;
    right: 0;
}

.tiki-seller {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 12px;
    height: 22px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0px 8px;
    display: flex;
    align-items: center;
}

.seller-icon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.seller-text {
    line-height: 16px;
    margin-top: 1px;
}

/* Container */

/* Category Top */
.category-top {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 44px;
}

.container__category-top {
    width: 1220px;
    padding: 15px 0px;
    margin: 0px auto;
    position: relative;
    height: 44px;
} 

.category-top__style {
    width: 100%;
    position: relative;
}

.content__category-top {
    position: absolute;
    right: 0;
}

.cateslide a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(56, 56, 61);
    display: inline-block;
    padding: 0px 12px;
}

.catename {
    font-size: 14px;
    text-decoration: none;
    color: rgb(56, 56, 61);
    display: inline-block;
}

.backicon {
    position: absolute;
    top: -2px;
    bottom: 0px;
    right: 0;
    display: flex;
    align-items: center;
    width: 12px;
    cursor: pointer;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.backicon img {
    width: 30px;
    height: 30px;
}

/* Banner Top */
.banner-top {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.container__banner-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;

}

.banner-top__right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 59.4%;
    height: 280px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.back-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -28px;
    opacity: 0.3;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    outline: none;
}

.back-left img {
    width: 32px !important;
    position: relative;
    left: -10px;
    transform: rotate(180deg);
}

.back-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -28px;
    opacity: 0.3;
    display: block;
    z-index: 1;
}

.back-right img {
    width: 32px !important;
    /* transform: rotate(180deg); */
    height: 56px !important;
    position: relative;
    right: -10px;
}

.banner-top__left {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 280px;
    background: rgb(148, 191, 255);
    border-radius: 4px;
    overflow: hidden;
}

.banner-top__right img,
.banner-top__left img {
    height: 100%;
    width: 100%;
}

/* Deal and Reward */
.deal-reward {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.container__deal-reward {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;

}

.deal {
    width: 54%;
    height: 280px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.reward {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 280px;
    background: rgb(148, 191, 255);
    border-radius: 4px;
    overflow: hidden;
}

.header-deal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 8px;
}

.header-deal__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.header-deal__left div img {
    height: 28px;
}

.countdowntime {
    color: rgb(120, 120, 120);
    font-size: 15px;
    display: flex;
    align-items: center;

}

.countdowntime span {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px 4px;
    padding: 0px 3px;
    background-color: rgb(255, 66, 78);
    border-radius: 4px;
    color: #fff;
}

.header-deal__navigation a {
    font-size: 16px;
    line-height: 24px;
    color: rgb(11, 116, 229);
}

.deal-wrap {
    position: relative;
    height: 100%;
    background-color: #999;
}

.deal-back__left {
    display: block;
    left: 0;
    cursor: pointer;
    position: absolute;
    margin-top: 0px;
    z-index: 1;
    top: 0px;
    width: 50px;
    height: 100%;
    opacity: 1;
}

.back-deal__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));

}

.deal-back__left span img {
    position: absolute;
    width: 32px;
    left: 50%;
    top: 32%;
    transform:rotateY(180deg);
}


.deal-list {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
    width: 100%;
    /* height: 100%; */
    padding: 0px 5px;
}

.deal-pro {
    
    

}

.deal-pro__item {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.deal-pro__image {
    position: relative;
    width: 100%;
}

.deal-pro__image img {
    position: absolute;
    top: 0px;
    left: 0px;
}






